<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
        (closed)="events.push('close!')">
        <mat-toolbar class="d-flex align-items-center justify-content-center">Menu</mat-toolbar>
        <mat-nav-list class="p-2">
            <a mat-list-item routerLink="">Painel de Controle</a>
            <a mat-list-item routerLink="/medicos"><mat-icon fontIcon="emoji_people"></mat-icon><span class="ms-2"></span>Medicos</a>
            <a mat-list-item routerLink="/pacientes/listar"><mat-icon fontIcon="elderly"></mat-icon><span class="ms-2"></span>Pacientes</a>
            <a mat-list-item routerLink="/cirurgias"><mat-icon fontIcon="vaccines"></mat-icon><span class="ms-2"></span>Cirurgias</a>
            <a mat-list-item routerLink="/consultas"><mat-icon fontIcon="medication_liquid"></mat-icon><span class="ms-2"></span>Consultas</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <!-- Barra Superior -->
        <p>
            <mat-toolbar>
                <button mat-icon-button class="example-icon" (click)="sidenav.toggle()"
                    aria-label="Example icon-button with menu icon">
                    <mat-icon>menu</mat-icon>
                </button>
                <span>eAgenda Medica</span>
                <span class="example-spacer"></span>
                <button mat-icon-button class="example-icon favorite-icon"
                    aria-label="Example icon-button with heart icon">
                    <mat-icon>favorite</mat-icon>
                </button>
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                    <mat-icon>share</mat-icon>
                </button>
            </mat-toolbar>
        </p>

        <main class="p-4">
            <ng-content>

            </ng-content>
        </main>

    </mat-sidenav-content>
</mat-sidenav-container>