<mat-sidenav-container class="example-container" >
    <mat-sidenav #sidenav mode="over" [(opened)]="opened" (opened)="events.push('open!')"
        (closed)="events.push('close!')" >
        <mat-toolbar class="d-flex align-items-center justify-content-center "  routerLink="dashboard">Menu</mat-toolbar>
        <mat-nav-list class="p-2">
            <a mat-list-item routerLink="/dashboard">Painel de Controle</a>
            <a mat-list-item routerLink="/medicos/listar"><mat-icon fontIcon="emoji_people"></mat-icon><span class="ms-2"></span>Medicos</a>
            <a mat-list-item routerLink="/pacientes/listar"><mat-icon fontIcon="elderly"></mat-icon><span class="ms-2"></span>Pacientes</a>
            <a mat-list-item routerLink="/cirurgias/listar"><mat-icon fontIcon="vaccines"></mat-icon><span class="ms-2"></span>Cirurgias</a>
            <a mat-list-item routerLink="/consultas/listar"><mat-icon fontIcon="medication_liquid"></mat-icon><span class="ms-2"></span>Consultas</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content >
        <!-- Barra Superior -->
        <p>
            <mat-toolbar>
                <button mat-icon-button class="example-icon" (click)="sidenav.toggle()"
                    aria-label="menu icon">
                    <mat-icon routerLink="/dashboard">menu</mat-icon>
                </button>
                <span>eAgenda Medica</span>
                <span class="example-spacer"></span>
                <button mat-icon-button (click)="sair()" class="example-icon favorite-icon"
                    aria-label="Sair">
                    <mat-icon>exit_to_app</mat-icon>
                </button>
            </mat-toolbar>
        </p>

        <main class="p-4">
            <ng-content>

            </ng-content>
        </main>

    </mat-sidenav-content>
</mat-sidenav-container>