<div class="container-fluid align-items-center">

    <div  class="d-flex">
        <h1 class="row align-items-center gap-4 fs-2 fw-semibold my-2 col-sm ms-2">
            <mat-icon class="fs-3">menu</mat-icon>
            Cirurgias Cadastradas
    
        </h1>
        <button mat-raised-button color="accent" routerLink="/cirurgias/inserir"
            class="p-4 mx-4 my-1"><mat-icon>add</mat-icon> Adicionar</button>
    </div>
    



    <section class="row p-3 gap-2 d-flex justify-content-center">
        <mat-card *ngFor="let cirurgia of (cirurgiaVM$ | async)" class="col-sm-12 col-md-12 col-lg-5 col-xxl-5 p-2 ">
            <mat-card-header class="fs-3">{{cirurgia.nomeCirugia}}</mat-card-header>
            <mat-card-content class="mt-2 gap-0">
                <h2 class="my-1">Data: {{ cirurgia.data}}</h2>

                <div class="d-flex flex-column p-0 mt-2 gap-0">
                    <div class="d-flex">
                        <h2>{{cirurgia.horaInicio}} - {{cirurgia.horaTermino}}</h2>
                    </div>
                </div>

                <mat-card-footer>
                    <p>Id: {{ cirurgia.id }}</p>
                </mat-card-footer>

                <div class="d-flex flex-row gap-2">
                    <button mat-raised-button color="accent"
                        routerLink="/cirurgias/editar/{{ cirurgia.id }}">Editar</button>
                    <button mat-raised-button color="warn"
                        routerLink="/cirurgias/excluir/{{ cirurgia.id }}">Excluir</button>
                </div>
            </mat-card-content>

        </mat-card>
    </section>
</div>