<div class="container h-100 d-flex align-items-center justify-content-center">
    <div class="row align-items-center justify-content-center gap-4">
        <mat-label class="fs-2 p-0">Informações</mat-label>
        <mat-card class="p-0">
            <mat-card-content>
                <mat-list>
                    <picture>
                        <img [src]="pegarUrlImage(medico.foto!)" alt="foto do medico">
                    </picture>
                    
                    <hr>
                    <mat-list-item>
                        <span matListItemTitle>Nome</span>
                        <span matListItemLine>{{ medico.nome }}</span>
                    </mat-list-item>
                    <hr>
                    <mat-list-item>
                        <span matListItemTitle>Email</span>
                        <span matListItemLine>{{ medico.email }}</span>
                    </mat-list-item>
                    <hr>
                    <mat-list-item>
                        <span matListItemTitle>Telefone</span>
                        <span matListItemLine>{{ medico.telefone }}</span>
                    </mat-list-item>
                    <hr>
                    <mat-list-item>
                        <span matListItemTitle>CRM</span>
                        <span matListItemLine>{{ medico.crm }}</span>
                    </mat-list-item>
                    <hr>
                    <mat-list-item>
                        <span matListItemTitle>Cep</span>
                        <span matListItemLine>{{ medico.cep }}</span>
                    </mat-list-item>
                    <hr>
                    <mat-list-item>
                        <span matListItemTitle>Cpf</span>
                        <span matListItemLine>{{ medico.cpf }}</span>
                    </mat-list-item>
                    <hr>
                    <mat-list-item>
                        <span matListItemTitle>Horas Trabalhadas</span>
                        <span matListItemLine>{{ medico.horasTrabalhadas }}</span>
                    </mat-list-item>
                </mat-list>
                <hr>


                <mat-label class="fs-5 fw-semibold">Consultas Realizadas</mat-label>
                 <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <ng-container matColumnDef="position">
                      <th mat-header-cell *matHeaderCellDef> No. </th>
                      <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
                    </ng-container>
                  
                    <ng-container matColumnDef="data">
                      <th mat-header-cell *matHeaderCellDef> Data </th>
                      <td mat-cell *matCellDef="let element">{{ element.data }}</td>
                    </ng-container>
                  
                    <ng-container matColumnDef="horaInicio">
                      <th mat-header-cell *matHeaderCellDef> Hora Início </th>
                      <td mat-cell *matCellDef="let element">{{ element.horaInicio }}</td>
                    </ng-container>
                  
                    <ng-container matColumnDef="horaTermino">
                      <th mat-header-cell *matHeaderCellDef> Hora Término </th>
                      <td mat-cell *matCellDef="let element">{{ element.horaTermino }}</td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
               
            </mat-card-content>

            
        </mat-card>
        <button mat-raised-button color="warn" (click)="gravar()">Excluir</button>
        <button mat-raised-button color="accent" routerLink="/medicos/listar">Cancelar</button>
    </div>

</div>